*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

main{
  display: flex;
  margin-bottom: 5px;
}

main .filter_options_section{
  flex: 1;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: sticky;
  top: 0;
}

main .filter_options_section form{
  position: relative;
  width: 90%;
}

main .filter_results_section{
  flex: 1.3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}

main .filter_options_section .filter_section{
  width: 100%;
  flex: 1;
  background: url(../images/placeholder.png) no-repeat center/cover;
}

main .filter_results_section .search_results{
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 240px;
  grid-auto-flow: dense;
  grid-row-gap: 20px;
}

main .filter_results_section .search_results .search_result{
  transition: all 0.8s;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
  color: black;
}

main .filter_results_section .search_results .search_result .bottom_section{
  display: flex;
  justify-content: space-between;
}

main .filter_results_section .search_results .search_result .bottom_section i{
  cursor: pointer;
  transition: all 0.5s;
}

main .filter_results_section .search_results .search_result .bottom_section i:hover{
  color: dodgerblue;
}

main .filter_results_section .search_results .search_result .search_result_image_container{
  flex: 9;
  position: relative;
  background: url(placeholder.png) no-repeat center/cover;
  overflow: hidden;
  transition: all 0.8s;
}

main .filter_results_section .search_results .search_result .search_result_image_container img{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 1s;
  object-fit: cover;
}

main .filter_results_section .search_results .search_result .search_result_image_container:hover img{
  transform: scale(1.2);
}

main .filter_results_section .search_results .search_result h4{
  flex: 1;
  align-self: center;
}

main .filter_results_section .pagination_container{
  display: flex;
  justify-content: center;
  gap: 50px;
}

main .filter_results_section .pagination_container a{
  padding: 10px 20px;
  border-radius: 10px;
  color: rgb(21, 114, 122);
}

main .filter_results_section .pagination_container a:hover{
  background-color: rgb(242, 242, 242);
}

.active_page{
  background-color: rgb(242, 242, 242);
  color: black !important;
}

@media(max-width: 900px){
  main{
    flex-direction: column;
  }

  main .filter_options_section h3, main .filter_options_section .filter_section .filter_options_section_option, main .filter_options_section .apply_clear_options{
    display: none;
  }

  main .filter_results_section .search_results{
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: 200px;
  }

  main .filter_results_section h3{
    text-align: center;
  }
}